*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    color:#fcfcfc;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}
.logo{
    position:relative;
    font-size: 25px;
    color:#fcfbfb;
    text-decoration:none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:.3s;
    background-color:  #018abd;
    padding: 4px 12px;
    border-radius: 5px;
}
.navbar a:hover{
    color: #fff;
    background-color: green;
}
.home{
    position:relative;
    width:100%;
    justify-content: space-between;
    height:100vh;
    background:url(./photo-1557683316-973673baf926.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:170px 10% 0;
}
 
 .photo{
    position: relative;
    background-size:cover ;
    background-position: center;
     align-items: center;
      width:50%;
     padding: .5px 180% 0;
      
}